.nav{
    grid-area: n;
    background-color: black;
    padding: 30px;
    border-radius: 15px;
   }


.item a{
    color: steelblue;
    text-decoration: none;
}

.item a.activeLink{
    color: red;
}

